html, body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;    font-size: 14px;
    color: #000;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.delete-button {
    border: none;
    background: none;
}

.button__signin {
    text-decoration: none;
}

/* .history {
    width: 100vw;
    height: 100vh;
} */